@model IEnumerable<BOL.Customer>

@{
	ViewBag.Title = "Customer Information";
}

<h2>Customer Information</h2>

<p>
	@Html.ActionLink("Create New", "Create")

	@using (Html.BeginForm("Index", "Customers", FormMethod.Get))
	{
	<p>
		Search Customer(s) by Name: @Html.TextBox("SearchString")<input type="submit" value="Search" />
	</p>
}
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.username)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.first_name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.last_name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.phone_number)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.date_of_birth)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.username)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.first_name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.last_name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.phone_number)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.date_of_birth)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
					@Html.ActionLink("Call Notes", "Index", "CallNotes", new { customerId = item.id },null) |
					@Html.ActionLink("Delete", "Delete", new { id = item.id })
				</td>
			</tr>
		}

	</table>
